/false_negatives/
/Summer/
/__pycache__/
/false_negatives_leyla_prompt/
/movie.mp4
/summer-movie.mp4
/social_nonsocial.mat
/false_negatives_are_there_people/
/Sherlock_cut.mp4
/sherlock_annotations/
/Sherlock/
/Sherlock.mp4
/Sherlock_cut.mp4
/Pics/
/sherlock_with_theme_song.mp4
/new.mp4
/Summer.mp4